{% extends 'base.html.twig' %}

{% block title %}Démos{% endblock %}

{% block body %}

<!-- Problème de Routing ? Penser à vider le cache ! 
-> 13 octobre : Dans un nouveau projet copié d'un précédent, il arrive que les nouvelles routes (annotations) créées dans le Controller ne soient plus détectées -> tester -> 
-> php bin/console cache:clear
-> Cf. https://symfony.com/doc/3.3/console/usage.html
-> Cf. https://stackoverflow.com/questions/24031110/moving-a-symfony2-project-to-another-pc
-->



<!-- Vue Flip Card : démos : https://codepen.io/sn00pee/pen/YqRVrz?editors=1010 + https://codepen.io/tutsplus/pen/JeExJr -->

    

<v-container>

    <v-layout row wrap>

        <v-col cols="12">
    
            <v-row>
                
                <v-col cols="12">
                <v-card outlined class="text-center" style="border:0px solid #555;">
                  <h3 class="font-weight-regular">Highcharts dynamiques de l'interface backend</h3>   
                </v-card>
                </v-col>
                
                <!-- Flip card n°1 -->
                
                <v-col
                cols="12"
                md="4"
                >
                    
                <card class="flip-card">
                  <transition name="flip-card" mode="out-in">
                    <card class="flip-card-2" v-if="front == true" key="front">
                        
                      <p>Types Highcharts au choix</p>
                        
                      <div class="flip-form" @click="front = false">
                        
                           <v-img src="/symfovue16/public/backgrounds/demo-picture-1.png" class="flip-image" alt="Illustration" title="Illustration"></v-img>
                          
                      </div>
                        
                     
                        
                    </card>
                    <card class="flip-card-2" v-else key="back">
                      <p>Titre</p>
                      <div class="flip-form">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ...</p>
                            
                      </div>
                      <div class="flip-footer">

                        <v-btn color="blue lighten-2" @click="front = true">
                          <i class="fas fa-arrow-right"></i>
                        </v-btn>
                      </div>
                    </card>
                  </transition> 
                </card>
                    
                </v-col>

                <!-- Flip card n°2 -->
                
            <v-col
            cols="12"
            md="4"
            >
                
            <card class="flip-card">
              <transition name="flip-card" mode="out-in">

                <card class="flip-card-2" v-if="front2 == true" key="front2">
                  <p>Couleurs et icons personnalisables</p>
                  <div class="flip-form" @click="front2 = false">
                    
                        <v-img src="/symfovue16/public/backgrounds/demo-picture-2.png" class="flip-image" alt="Illustration" title="Illustration"></v-img>
                      
                  </div>
                 
                </card>
                <card class="flip-card-2" v-else key="back">
                  <p>Titre</p>
                  <div class="flip-form">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ...</p>
                        
                  </div>
                  <div class="flip-footer">

                    <v-btn color="blue lighten-2" @click="front2 = true">
                      <i class="fas fa-arrow-right"></i>
                    </v-btn>
                  </div>
                </card>

              </transition>
            </card>
                
            </v-col>

            <!-- Flip card n°3 -->
                
            <v-col
            cols="12"
            md="4"
            >
                
            <card class="flip-card">
              <transition name="flip-card" mode="out-in">

                <card class="flip-card-2" v-if="front3 == true" key="front3">
                  <p>Edition multi-lignes automatisée</p>
                  <div class="flip-form" @click="front3 = false">
                    
                        <v-img src="/symfovue16/public/backgrounds/demo-picture-3.png" class="flip-image" alt="Illustration" title="Illustration"></v-img>
                      
                  </div>
                 
                </card>
                <card class="flip-card-2" v-else key="back">
                  <p>Titre</p>
                  <div class="flip-form">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ...</p>
                        
                  </div>
                  <div class="flip-footer">

                    <v-btn color="blue lighten-2" @click="front3 = true">
                      <i class="fas fa-arrow-right"></i>
                    </v-btn>
                  </div>
                </card>

              </transition>
            </card>
                
            </v-col>
                
                        <!-- Flip card n°4 -->
                
            <v-col
            cols="12"
            md="4"
            >
                
            <card class="flip-card mt-12">
              <transition name="flip-card" mode="out-in">

                <card class="flip-card-2" v-if="front4 == true" key="front4">
                  <p>Traitement de données CSV et JSON</p>
                  <div class="flip-form" @click="front4 = false">
                    
                        <v-img src="/symfovue16/public/backgrounds/demo-picture-4.png" class="flip-image" alt="Illustration" title="Illustration"></v-img>
                      
                  </div>
                 
                </card>
                <card class="flip-card-2" v-else key="back">
                  <p>Titre</p>
                  <div class="flip-form">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ...</p>
                        
                  </div>
                  <div class="flip-footer">

                    <v-btn color="blue lighten-2" @click="front4 = true">
                      <i class="fas fa-arrow-right"></i>
                    </v-btn>
                  </div>
                </card>

              </transition>
            </card>
                
            </v-col>
                
                <!-- Flip card n°5 -->
                
            <v-col
            cols="12"
            md="4"
            >
                
            <card class="flip-card mt-12">
              <transition name="flip-card" mode="out-in">

                <card class="flip-card-2" v-if="front5 == true" key="front5">
                  <p>Options Design préétablies</p>
                  <div class="flip-form" @click="front5 = false">
                    
                        <v-img src="/symfovue16/public/backgrounds/demo-picture-5.png" class="flip-image" alt="Illustration" title="Illustration"></v-img>
                      
                  </div>
                 
                </card>
                <card class="flip-card-2" v-else key="back">
                  <p>Titre</p>
                  <div class="flip-form">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ...</p>
                        
                  </div>
                  <div class="flip-footer">

                    <v-btn color="blue lighten-2" @click="front5 = true">
                      <i class="fas fa-arrow-right"></i>
                    </v-btn>
                  </div>
                </card>

              </transition>
            </card>
                
            </v-col>
                
            <!-- Flip card n°6 -->
                
            <v-col
            cols="12"
            md="4"
            >
                
            <card class="flip-card mt-12">
              <transition name="flip-card" mode="out-in">

                <card class="flip-card-2" v-if="front6 == true" key="front6">
                  <p>Filtrage de données API Web</p>
                  <div class="flip-form" @click="front6 = false">
                    
                        <v-img src="/symfovue16/public/backgrounds/demo-picture-6.png" class="flip-image" alt="Illustration" title="Illustration"></v-img>
                      
                  </div>
              
                </card>
                <card class="flip-card-2" v-else key="back">
                  <p>Titre</p>
                  <div class="flip-form">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ...</p>
                        
                  </div>
                  <div class="flip-footer">

                    <v-btn color="blue lighten-2" @click="front6 = true">
                      <i class="fas fa-arrow-right"></i>
                    </v-btn>
                  </div>
                </card>

              </transition>
            </card>
                
            </v-col>
                
                <v-col cols="12">
                <v-card outlined class="text-center mt-12" style="border:0px solid black;">
                    <br /><br />
                  <h3 class="font-weight-regular">Démos sur le thème de l'environnement</h3>   
                </v-card>
                </v-col>
                
            <!-- Flip card n°7 -->
                
            <v-col
            cols="12"
            md="4"
            >
                
            <card class="flip-card">
              <transition name="flip-card" mode="out-in">

                <card class="flip-card-2" v-if="front7 == true" key="front7">
                    
                  <a href="{{ path('leafletMap') }}"><p>Carte Leaflet</p></a>
                    
                  <div class="flip-form" @click="front7 = false">
                    
                        <v-img src="/symfovue16/public/backgrounds/demo-picture-7.png" class="flip-image" alt="Illustration" title="Illustration"></v-img>
                      
                  </div>
                  
                </card>
                <card class="flip-card-2" v-else key="back">
                  <p>Emissions Co2 mondiales</p>
                  <div class="flip-form">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ...</p>
                        
                  </div>
                  <div class="flip-footer">

                    <v-btn color="blue lighten-2" @click="front7 = true">
                      <i class="fas fa-arrow-right"></i>
                    </v-btn>
                  </div>
                </card>

              </transition>
            </card>
                
            </v-col>
                
                <!-- Flip card n°8 -->
                
            <v-col
            cols="12"
            md="4"
            >
                
            <card class="flip-card">
              <transition name="flip-card" mode="out-in">

                <card class="flip-card-2" v-if="front8 == true" key="front8">
                    
                    <a href="{{ path('chart3') }}"><p>Démo Chart.js 1</p></a>
                  
                  <div class="flip-form" @click="front8 = false">
                    
                        <v-img src="/symfovue16/public/backgrounds/demo-picture-8.png" class="flip-image" alt="Illustration" title="Illustration"></v-img>
                      
                  </div>
                 
                </card>
                <card class="flip-card-2" v-else key="back">
                  <p>Indices de qualité de l'air journaliers par polluants sur l'Île-de-France</p>
                  <div class="flip-form">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ...</p>
                        
                  </div>
                  <div class="flip-footer">

                    <v-btn color="blue lighten-2" @click="front8 = true">
                      <i class="fas fa-arrow-right"></i>
                    </v-btn>
                  </div>
                </card>

              </transition>
            </card>
                
            </v-col>
                
            <!-- Flip card n°9 -->
                
            <v-col
            cols="12"
            md="4"
            >
                
            <card class="flip-card">
              <transition name="flip-card" mode="out-in">

                <card class="flip-card-2" v-if="front9 == true" key="front9">
                    
                    <a href="{{ path('chartjs2') }}"><p>Démo Chart.js 2</p></a>
                  
                  <div class="flip-form" @click="front9 = false">
                    
                        <v-img src="/symfovue16/public/backgrounds/demo-picture-9.png" class="flip-image" alt="Illustration" title="Illustration"></v-img>
                      
                  </div>
                 
                </card>
                <card class="flip-card-2" v-else key="back">
                  <p>Evolution des températures mondiales de 1880 à 2018</p>
                  <div class="flip-form">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ...</p>
                  </div>
                  <div class="flip-footer">

                    <v-btn color="blue lighten-2" @click="front9 = true">
                      <i class="fas fa-arrow-right"></i>
                    </v-btn>
                  </div>
                </card>

              </transition>
            </card>
                
            </v-col>

            </v-row>
        </v-col>
    </v-layout>
</v-container>




<div class="mt-12 text-center">
       
    <p>Démo Leaflet Map :</p>
    
        <v-btn small color="blue lighten-1" href="{{ path('leafletMap') }}">LeafletMap Co2World</v-btn>
    
    <br /><br />
    
    <p>Démos Chart.Js :</p>
    
        <v-btn small color="teal lighten-1" href="{{ path('chart3') }}">Chart 3 (Chart JS n°1)</v-btn>    
    
        <v-btn small color="blue lighten-1" href="{{ path('chartjs2') }}">Chart JS n°2</v-btn>
    
    <br /><br />
    
    <p>Démos D3.Js :</p>
        
         <v-btn small color="teal lighten-1" href="{{ path('chart2') }}">Chart 2</v-btn>
        
    <br /><br />
    
    <p>Arrays SQL pour affichage des statistiques en Back Office :</p>
    
        <v-btn small color="blue lighten-3" href="{{ path('highchartSQL3') }}">Array SQL nbe de comments par articles</v-btn>
    
        <v-btn small color="blue lighten-3" href="{{ path('highchartSQL2') }}">Array SQL nbre de comments par jours</v-btn>
    
    <br /><br />
    
    <p>Back Office n°2 :</p>
    
        <v-btn small color="teal lighten-3" href="{{ path('homepage') }}">Homepage ARTICLES</v-btn>

        <v-btn small color="teal lighten-3" href="{{ path('new_article') }}">Nouvel article</v-btn>

        <v-btn small color="teal lighten-3" href="{{ path('backend_list') }}">Back Office ARTICLES</v-btn>
    
         <!-- Cf. Intro to KnpPaginatorBundle : https://github.com/KnpLabs/KnpPaginatorBundle -->
        <v-btn small color="teal lighten-1" href="{{ path('pagination') }}">Pagination</v-btn>
    
    <br /><br />
    
    <p>Tests de composants :</p>
    
        <v-btn small color="indigo lighten-4" href="{{ path('slide') }}">Slider tests</v-btn>
    
    <br /><br />
    
    <p>Tests de Routes :</p>
    
        <v-btn small color="teal lighten-1" href="{{ path('test') }}">Test</v-btn>

        <v-btn small color="teal lighten-1" href="{{ path('post') }}">Post</v-btn>

        <v-btn small color="teal lighten-1" href="{{ path('tuto') }}">Tuto</v-btn>

    <br /><br />
    
    <p>Tests de liens connexion/déconnexion n°2</p>    
        {% if not app.user %}
            <v-btn small color="indigo lighten-2" href="{{ path('connect_admin') }}">Admin Login</v-btn>
        {% else %}
            <v-btn small color="indigo lighten-4" href="{{ path('nosession') }}">Admin Logout</v-btn>
        {% endif %}
    
    <br /><br />
    
    <p>Pages de Tests divers</p>

        <v-btn small color="teal lighten-1" href="{{ path('chart') }}">Chart</v-btn>

        <v-btn small color="teal lighten-1" href="{{ path('chart4') }}">Chart 4 HTML</v-btn>

        <v-btn small color="teal lighten-1" href="{{ path('chart5') }}">Chart 5 PHP</v-btn>

        <v-btn small color="teal lighten-1" href="{{ path('chart6') }}">Chart 6 HTML</v-btn>

        <v-btn small color="teal lighten-2" href="{{ path('chart7') }}">Chart 7 HTML</v-btn>

        <v-btn small color="blue lighten-3" href="{{ path('highchartSQL') }}">Highcharts SQL graph test</v-btn>

        <v-btn small color="blue lighten-3" href="{{ path('columnTests') }}">Highchart Column Tests</v-btn>
   

    
                
</div>  
 
{% endblock %}