{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}


<br />

<h3>Création d'un article</h3>

<br />

{{ form_start(form) }}


{{ form_widget(form.title, {'attr': {'placeholder': "Titre de l'article"}}) }}

<br />
<br />

<label for="">Contenu de l'article</label>

{{ form_widget(form.body) }}

{{ form_widget(form.graphtitle, {'attr': {'placeholder': "graphtitle"}}) }}


{{ form_end(form) }}



{% endblock %}
