{% extends 'base.html.twig' %}

{% block title %}
To change password ? or Add new Admin ?
{% endblock %}

{% block body %}

<h1>Formulaire d'inscription d'un nouvel Administrateur</h1>


{{ form_start(formAdmin) }}

{{ form_row(formAdmin.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}

{{ form_row(formAdmin.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Mot de passe'}}) }}

{{ form_row(formAdmin.confirm_password, {'label': 'Confirmation du mot de passe', 'attr': {'placeholder': 'Confirmation du mot de passe'}}) }}

<button>Inscription</button>

{{ form_end(formAdmin) }}

{% endblock %}
